
.insurance-img-container {
  width: 100%; /* Adjust the width as needed */
  max-width: 500px; /* Maximum width of the image */
  margin: auto; /* Centering the image container */
}

.insurance-img-container img {
  height: 160px;
}

