.about {
  background-color: rgb(233, 233, 233);
  color: black;
  padding-bottom: 50px;
}

.about-text-container {
  font-size: 32px;
}

.about-para-container {
  margin: auto;
  width: 40%;
  padding-bottom: 30px;
  line-height: 1.8;
  font-size: 20px;
}

.insurance-img-container {
  width: 100%; /* Adjust the width as needed */
  max-width: 500px; /* Maximum width of the image */
  margin: auto; /* Centering the image container */
}

.insurance-img-container img {
  height: 160px;
}

