.bunny-boarding-services {
  background-color: white;
  display: flex;
  justify-content: center;
}

.bunny-boarding-services p {
  padding-top: 160px;
  color: black;
  font-size: 33px;
}

.pink-color {
  background-color: rgb(235, 207, 195);
  /* display: flex; */
  /* justify-content: center; */
}


/* Responsive styles for phones */
@media (max-width: 600px) {
  .bunny-boarding-services {
    flex-direction: column;
  }

  .bunny-boarding-services p {
    padding-top: 20px; /* Reduce top padding */
    font-size: 24px; /* Adjust font size for smaller screens */
    text-align: center;
  }



}