
.header-title {
  font-size: 42px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}


.local-links {
  font-size: 24px;
}


/* FontAwesome Icon Styles */
.fa-facebook { color: #3b5998; } /* Facebook Icon Color */
.fa-google { color: #34A853; } /* Google Icon Color */
.fa-yelp { color: #d32323; } /* Yelp Icon Color */

/* Responsive styles for phones */
@media (max-width: 600px) {

  .header-title {
    font-size: 28px;
    padding: 15px;
  }


  .local-links {
    font-size: 20px;
  }

}