/* General styles for larger screens */
.App {
  background-color: white;
  text-align: center;
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%; /* Ensures the header spans the full width of the screen */
  z-index: 1000; /* Keeps the header above other content */
}

/* Responsive styles for phones */
@media (max-width: 600px) {
  .App {
    padding: 0 10px; /* Add some padding to prevent content from touching the screen edges */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    width: 100vw; 
  }

  header {
    padding: 10px 0; /* Add padding for a better look on smaller screens */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  .pink-color {
    background-color: rgb(235, 207, 195);
    /* display: flex; */
    /* justify-content: center; */
  }
}
