.App {
  background-color: white;
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensures the header stays above other content */
}
